<a href="https://colab.research.google.com/github/NatanshSep2/-Bootstrap-CSS-HTML-Project/blob/master/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                                    Galgotias University
      Name    : Natansh Kpail
      Course  : Btech cse
      Roll_no : 23scse1010285
      sub.    : Python lab

In [ ]:

# Question 1 :  Create a list with the user-given input elements. Write a program to remove all the duplicate elements
# from the given input list.

def Na_remove_dub_285(list1):
    # create a set to store unique elements
    sh_unique_ele = set(list1)

    # convert the set back to a list
    sh_list = list(sh_unique_ele)

    # return the list with duplicate elements removed
    return sh_list


# get the input list from the user
sh_list = input("Enter the elements of the list separated by spaces: ").split()

# remove duplicate elements from the list
sh_list = Na_remove_dub_285(sh_list)

# print the list without duplicate elements
print("The list without duplicate elements is:", sh_list)

Enter the elements of the list separated by spaces: 1 2 3 4 5
The list without duplicate elements is: ['4', '2', '5', '3', '1']

In [ ]:
# Question 2 : Create two lists with the user-given elements. Write a program to check whether the first or last
# elements of two lists are the same or not. If yes print True, otherwise print False as shown in the
# examples.

def natansh_check_first_last_23scse1010285(list1, list2):
  # Check if the first elements of both lists are equal
  if list1[0] == list2[0]:
    return True

  # Check if the last elements of both lists are equal
  if list1[-1] == list2[-1]:
    return True

  # Otherwise, return False
  return False


# Get the input lists from the user
list1 = input("Enter the elements of the first list separated by spaces: ").split()
list2 = input("Enter the elements of the second list separated by spaces: ").split()

# Check if the first or last elements of the lists are the same
result = natansh_check_first_last_23scse1010285(list1, list2)

# Print the result
print(result)

Enter the elements of the first list separated by spaces: 1 2 3 4 5
Enter the elements of the second list separated by spaces: 1 8 9 7 5
True

In [ ]:

#Question 3 - Create a list with the user-given inputs.
# Take an index value `n` from the user.
# Write a program to update the list with the user-given element based on the index `n`.
# If the index is not in the range, print an error message.

def natansh_create_list_285():
    data = input("Enter comma-separated values: ")
    return data.split(',')

def up285_lst_kap(lst):
    n = int(input("Enter index: "))
    ele_kapil = input("Enter element: ")
    if -len(lst) <= n < len(lst):
        lst[n] = ele_kapil
    else:
        print('invalid index')

def p285_lst_kap(lst):
    print("after updation:", lst)

# Test the functions
lst = natansh_create_list_285()
print("before updation:", lst)
up285_lst_kap(lst)
p285_lst_kap(lst)

Enter comma-separated values: natansh kapil raj kajal
before updation: ['natansh kapil raj kajal']
Enter index: 2
Enter element: sharma
invalid index
after updation: ['natansh kapil raj kajal']

In [ ]:
# Question - 4 Write a Python program to create a list with user-given inputs.
# Take an index value n from the user and update the list with a user-given element based
# on the index n. If the index is not in the range, print an error message as shown
# in the sample test cases.


def kapil_create_list_285():
    data = input("Enter comma-separated values: ")
    return data.split(',')

def update_list(lst):
    nata_285 = int(input("Enter index: "))
    element = input("Enter element: ")
    if -len(lst) <= nata_285 < len(lst):
        lst[nata_285] = element
    else:
        print('invalid index')

def print_list(lst, message='after updation:'):
    print(message, lst)

# Test the functions
data = input("Enter comma-separated values: ")
lst = kapil_create_list_285()
print("before updation:", lst)
nata_285 = int(input("Enter index: "))
element = input("Enter element: ")
update_list(lst)
print_list(lst)

Enter comma-separated values: java pyhton
Enter comma-separated values: swift c
before updation: ['swift c']
Enter index: 2
Enter element: java c cpp
Enter index: 2
Enter element: html css js
invalid index
after updation: ['swift c']

In [ ]:
#Question 5
natansh_kapil_n = input("Please enter a sentence: ")
kapil_string2 = natansh_kapil_n.lower()
kapil_char_sharma_285 = {}
for i in kapil_string2:
    if i.isalpha():
        if i in kapil_char_sharma_285:
            kapil_char_sharma_285[i] += 1
        else:
            kapil_char_sharma_285[i] = 1

sorted_char_counts = dict(sorted(kapil_char_sharma_285.items()))
for key, value in sorted_char_counts.items():
    print(key, ',', value)

Please enter a sentence: Gaziabad
a , 3
b , 1
d , 1
g , 1
i , 1
z , 1

In [ ]:
# Question 6
natansh_list1_kap = list(map(int, input("Enter a seq of elements: ").split(',')))
natansh_list2_kap = list(map(int, input("Enter another seq of elements: ").split(',')))

for i in natansh_list2_kap:
    if i not in natansh_list1_kap:
        print(i, "does not exist.")
    else:
        print(i, "is in the list.")

Enter a seq of elements: 10,20,30,40,50,60,70,80,90
Enter another seq of elements: 60,70,80,90
60 is in the list.
70 is in the list.
80 is in the list.
90 is in the list.

In [ ]:
#Quesiton 7
natansh_tup = tuple(map(str, input("Enter data: ").split(',')))
print("tuple:", natansh_tup)

element = input("Enter an element: ")
if element in natansh_tup:
    index = natansh_tup.index(element)
    print("Index:", index)
else:
    print("Enter an element that exists in the tuple.")

Enter data: mango,orange,apple
tuple: ('mango', 'orange', 'apple')
Enter an element: apple
Index: 2

In [ ]:
#Question 8
kapil_tuple_285 = tuple(map(str, input("Enter data: ").split(',')))
print("kapil_tuple_285:", kapil_tuple_285)

element = input("Enter an element: ")
count_kapil = 0
for i in kapil_tuple_285:
    if i == element:
        count_kapil += 1
if count_kapil > 0:
    print("Exists", count_kapil, "times.")
else:
    print("Enter a valid element.")

Enter data: yello blue red
kapil_tuple_285: ('yello blue red',)
Enter an element: red
Enter a valid element.

In [ ]:
#Question - 9
Natansh_tup_285 = tuple(map(str, input("Enter data: ").split(',')))
print("Natansh_tup_285:", Natansh_tup_285)

element = input("Enter an element: ")
kapil_set_285 = set(Natansh_tup_285)
if element in kapil_set_285:
    kapil_set_285.discard(element)
    print("Before deletion:", Natansh_tup_285)
    print("After deletion:", tuple(kapil_set_285))
else:
    print("Element does not exist.")

Enter data: 10,20,30,40
Natansh_tup_285: ('10', '20', '30', '40')
Enter an element: 30
Before deletion: ('10', '20', '30', '40')
After deletion: ('10', '20', '40')

In [ ]:
#Question - 10
natansh_tuple_285 = tuple(map(str, input("Enter tuple elements separated by commas: ").split(',')))
natansh_tuple_285 = ('apple', 'banana', 'orange')

if natansh_tuple_285 == natansh_tuple_285:
    print("True")
else:
    print("False")

Enter tuple elements separated by commas: 10,20,30
True

In [ ]:
#Question - 11
kapil_tuple1 = tuple(map(str, input("Enter data: ").split(',')))
natansh_list = list(kapil_tuple1)
x = int(input("Index: "))
if -len(natansh_list) <= x < len(natansh_list):
    y = input("Value: ")
    natansh_list.insert(x, y)
    print(tuple(natansh_list))
else:
    print("Enter a valid index.")

Enter data: 1,2,3,4,5,6
Index: 3
Value: 100
('1', '2', '3', '100', '4', '5', '6')

In [ ]:
#Question - 12
kapil_set1_285 = set(map(int, input("Enter data1: ").split(',')))
kapil_set2_285 = set(map(int, input("Enter data2: ").split(',')))

print("set1 sorted: ", sorted(list(kapil_set1_285)))
print("set2 sorted: ", sorted(list(kapil_set2_285)))

result1 = list(kapil_set1_285.difference(kapil_set2_285))
print("difference using difference(): ", result1)

kapil_set1_285.difference_update(kapil_set2_285)
print("difference using difference_update(): ", list(kapil_set1_285))

result2 = list(kapil_set1_285 - kapil_set2_285)
print("difference using (set1 - set2): ", result2)

kapil_set1_285 -= kapil_set2_285
print("difference using (set -= set2): ", list(kapil_set1_285))

Enter data1: 1,2,3,4,5,6
Enter data2: 8,9,10,11,12
set1 sorted:  [1, 2, 3, 4, 5, 6]
set2 sorted:  [8, 9, 10, 11, 12]
difference using difference():  [1, 2, 3, 4, 5, 6]
difference using difference_update():  [1, 2, 3, 4, 5, 6]
difference using (set1 - set2):  [1, 2, 3, 4, 5, 6]
difference using (set -= set2):  [1, 2, 3, 4, 5, 6]

In [ ]:
#Question - 13

In [ ]:
#Question - 14
x = list(map(str, input("Enter data1: ").split(',')))
y = list(map(str, input("Enter data2: ").split(',')))

if len(x) != len(y):
    print("Error: Number of keys and values should be equal.")
else:
    kapil_d = {}
    for i in range(len(x)):
        kapil_d[x[i]] = y[i]

    for k, v in kapil_d.items():
        print(k, ":", v)

Enter data1: 1 2 3 4 5 6
Enter data2: 7 8 9 10 11 12
1 2 3 4 5 6 : 7 8 9 10 11 12

In [ ]:
#Question - 15
x = list(map(str, input("Enter data1: ").split(',')))
y = list(map(str, input("Enter data2: ").split(',')))

natansh_dictio_285 = {}
for i in range(len(x)):
    natansh_dictio_285[x[i]] = y[i]

kapil_key = input("Enter key: ")
if kapil_key in natansh_dictio_285:
    g_value = input("Enter value: ")
    natansh_dictio_285[kapil_key] = g_value
    sorted_dict = {k: natansh_dictio_285[k] for k in sorted(natansh_dictio_285)}
    print(sorted_dict)
else:
    print("Key does not exist.")

Enter data1: name,age,gender
Enter data2: natansh,19,male
Enter key: 44
Key does not exist.

In [ ]:
#Qestion - 16
a = list(map(str, input("Enter data1: ").split(',')))
b = list(map(str, input("Enter data2: ").split(',')))

kapil_disct = {x[i]: y[i] for i in range(len(a))}

natansh_key = input("Enter key: ")
if natansh_key in kapil_disct:
    print(True)
else:
    print(False)

Enter data1: 11 12 13 15 16
Enter data2: 111 122 133 155 166
Enter key: 5
False

In [ ]:
#Question - 17
Natansh = list(map(str, input("Enter data1: ").split(',')))
print("content",Natansh)

Enter data1: 1 2 3 4 5 6
content ['1 2 3 4 5 6']

In [ ]:
#question - 18
kapil_string = input("Enter a string: ")
natanshn_um = int(input("Enter a number: "))

if 0 <= natanshn_um < len(kapil_string):
    print(kapil_string[natanshn_um])
else:
    print("Number should be positive, less than length of string.")

Enter a string: kapil
Enter a number: 5
Number should be positive, less than length of string.

In [ ]:
#Question - 19
kapil_N = "Hello"

def test1():
    global kapil_N
    kapil_N = "Good Morning"

def test2():
    global kapil_N
    kapil_N = "Good Night"

test1()
print(kapil_N)
test2()
print(kapil_N)

Good Morning
Good Night

In [ ]:
#Question - 20
def Kapil_sum_of_list(lst):
    total = 0
    for element in lst:
        if isinstance(element, list):
            total += Kapil_sum_of_list(element)
        else:
            total += element
    return total

L1 = [1, 10, 9, [3, 5, 7], [5, [6, 7], 97]]
natansh_285_result = Kapil_sum_of_list(L1)
print("Sum of list is:", natansh_285_result)

Sum of list is: 150